@charset "UTF-8";
/* CSS Document */

body{
font-family:Helvetica, sans-serif;
}

#top {
	height:30px;
	background:#333333;
}

#container{
	height:75px;
	width:100%;
	background-color:#FFFFFF;
	margin:0 0 0 0;
}

#header{
	height:75px;
	background: linear-gradient(156deg, rgba(245, 239, 232, 1) 12%, rgba(235, 221, 205, 1) 36%, rgba(218, 182, 142, 1) 72%, rgba(214, 176, 135, 1) 98%, rgba(210, 186, 158, 1) 100%);
}

#logo-header {
	text-align: right;
	padding: 5px 15px 0px 0;
}

#imagenLogin {
	height: 65px;
}

#container{
	text-align: center;
}

#form{
	float:left;
	width:280px;
	height:880px;
	margin: 0px 0 0 15px;
	border-right: 1px solid #CCC;
	padding: 10px;
	box-shadow: 3px 0 1px -2px #CCC;
}

#button{
margin-bottom:25px;
float: left;
width: 25%;
width: 160px;
}

#button a{
    /*prevents classic html colors when clicking on the link*/
    color:#FFFFFF;
}

#appDescr{
margin:30px 0px 0px 325px;
width:600px;
color:#FFFFFF;
font-size:0.9em;
}
#footer {
height:48px;
background:#333333;
}
.serviceError{
color:#333333;
display:block;
font-size:0.7em;
margin-left:8px;
text-align:left;
width:238px;
padding:6px 0 6px 6px;
}